<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.compdf.mapper.UserMapper">

    <select id="selectPermissionByUserIdAndPermission" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM manager_permissions mp
        WHERE mp.user_id = #{userId}
          AND mp.permission_id = (select id from permissions where code = #{code} and `status` = 1)
          and mp.`status` = 1
    </select>
</mapper>